.slider-timeline {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 1rem;
    background-color: $bg-grey;
    z-index: 100;
    h2 {
        text-align: center;
    }
    &__media {
        position: relative;
        display: block;
        width: 350px;
        height: 200px;
        margin: 0 auto;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
    &__date {
        color: $red;
    }
    &__description {
        padding: 1rem;
        text-align: justify;
    }
}
.slider-event {
    padding: 1rem 0.5rem 0;
}

.anchors {
    position: fixed;
    bottom: 43%;
    left: 0;
    z-index: 100;
    transform: translateX(-43%) rotate(-90deg);
    padding: 0;
    margin: 0;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        li {
            background-color: $red;
            padding: 0rem;
            border-radius: 5px;
            margin: 0.3rem;
            a{
                font-size: 1rem;
                padding: 0.5rem;
            }
        }
    }
}
