//********** TAGS INDEX
//********************************************/
.tagGroup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .tagGroup--title::first-letter{
color: $yellow;
    }
    .tagCard {
        margin: 1rem 0;
        position: relative;
        width: 380px;
        height: 210px;
        // border: 1px solid white;
        border-radius: 5px;
        .tagCard--title {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            padding: 0.75rem 1rem;
            border: 1px solid white;
            background-color: $cards;
            border-radius: 2px;
            margin: 0;
            text-shadow: 2px 2px 2px black;

        }
        .tagCard--link {
            img{
                border-radius: 5px;
            }
        }
    }
}
