//********** TAGS INDEX
//********************************************/
.tagGroup {
    // display: flex;
    // justify-content: space-between;
    // flex-flow: row wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3em;

    .tagCard {
        .tagCard__content {
            position: relative;
            .tagCardtagCard__content--image {
                display: block;
                width: 400px;
                height: 170px;
                background-color: $bg-dark;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.3rem;
                img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    transition: all 0.5s ease-in-out;
                }
                img:hover {
                    transform: scale(1.05);
                }
            }
            .tagCard__content--title,
            .tagCard__content--link {
                background: rgb(58, 58, 58);
                padding: 1rem;
                text-align: center;
                border-radius: 0.2rem;
            }
            .tagCard__content--title {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                margin: 0;
            }
            .tagCard__content__link {
                position: absolute;
                bottom: 0.5rem;
                left: 0.5rem;

                .tagCard__content__link--btn {
                    display: inline-block;
                    padding: 15px 30px;
                    border: 2px solid white;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: 2px;
                    transition: all 0.3s ease-in-out;
                    background-color: rgba(52, 58, 64, 0.4);
                }
                .tagCard__content__link--btn:hover {
                    background-color: $bg-grey;
                    color: $yellow;
                }
            }
        }
    }
}