//? Tags
//? *******************************************/

//* TAGS INDEX
//********************************************/
.tagGroup--title {
    text-align: center;
}
.tagGroup--title::first-letter {
    color: $yellow;
}
.tagGroup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .tagCard {
        margin: 1rem 0;
        position: relative;
        width: 380px;
        height: 210px;
        // border: 1px solid white;
        border-radius: 5px;
        .tagCard--title {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            padding: 0.75rem 1rem;
            border: 1px solid white;
            background-color: $cards;
            border-radius: 2px;
            margin: 0;
            text-shadow: 2px 2px 2px black;
        }
        .tagCard--link {
            img {
                border-radius: 5px;
            }
        }
    }
}

//* TAGS Create
//********************************************/

.tags__create {
    background-color: $bg-dark;
    padding: 0.5rem;
    margin-bottom: 1rem;
    .tags__create--title {
        margin: 0.5rem 0 0;
        text-align: center;
    }
    .tags__create--title::first-letter {
        color: $yellow;
        font-size: 3.25rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        label,
        p {
            font-size: 1.75rem;
            margin: 0;
        }
        label::first-letter,
        p::first-letter {
            color: $yellow;
            font-size: 2.25rem;
        }
        &__content {
            .tags__create__form__content--item {
                padding: 1rem 0;
                display: flex;
                flex-flow: column wrap;
                #color {
                    width: 100%;
                }
            }
        }
        &__thumbnail {
            margin: 1rem 0;
            .thumbnail__file {
                label {
                    background-color: $blue;
                    color: #3a3a3a;
                    margin: 1rem 0;
                    padding: 0.5rem;
                    display: block;
                    border-radius: 5px;
                    border: 2px solid $bg-grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 1rem;
                        margin-right: 0.75rem;
                    }
                }
                span {
                    color: white;
                    margin-left: 0.5rem;
                }
            }
            .thumbnail__preview {
                display: block;
                border: 2px solid white;
                border-radius: 5px;
                height: 170px;
                width: 100%;
                background-color: $bg-grey;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    position: relative;
                }
                img[alt]:after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $bg-grey;
                    text-align: center;
                    content: attr(alt);
                }
            }
        }
        .submit--edit {
            background-color: $green;
        }
        button {
            margin: 1.5rem 0 2.5em;
            padding: 1.5rem;
            background-color: $red;
            border: 2px solid $bg-grey;
            color: $bg-grey;
        }
    }
}

//! Tablette
@media screen and (min-width: 780px) and (max-width: 1200px) {
    /* Tablette */

    //* TAGS INDEX
    //********************************************/
    .tagGroup {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        .tagCard {
            position: relative;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }


    
//* TAGS Create
//********************************************/

.tags__create {
    background-color: $bg-light;
    padding: 0.5rem;

    .tags__create--title {
        margin: 0.5rem 0 0;
        text-align: center;
    }
    .tags__create--title::first-letter {
        color: $yellow;
        font-size: 3.25rem;
    }
    &__form {
        display: flex;
        flex-flow: row wrap;
        &__content {
            width: 50%;
            .tags__create__form__content--item {
                width: 80%;
                padding: 1rem 0;
            }
        }
        &__thumbnail {
            width: 50%;
        }
        button {
            margin-left: auto;
        }
    }
}
}
