.cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .timelines--title::first-letter {
        color: $green;
    }
    .box {
        margin: 20px 0;
        border-radius: 0.3rem;
        .box-card {
            position: relative;
            width: 350px;
            height: 200px;
            background-color: #3a3a3a;
            box-shadow: 0 50px 50px $cards;
            overflow: hidden;
            transition: height ease-in-out 0.5s;

            .box-content {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                .timeline__content--title {
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    font-size: 1.7rem;
                    color: #fff;
                    background-color: $cards;
                    padding: 10px;
                    text-shadow: 2px 2px 2px black;
                    letter-spacing: 1px;
                }
                .timeline__content--title::first-letter {
                    color: $green;
                }
                .box-image {
                    position: relative;
                    display: block;
                    width: 350px;
                    height: 200px;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        transition: all 1s ease-in-out;
                    }

                    .box-created {
                        position: absolute;
                        bottom: 0rem;
                        left: 0rem;
                        color: #feca72;
                        background-color: $bg-dark;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .box-card.active {
            height: auto;
            .box-toggle {
                ion-icon {
                    transform: rotate(180deg);
                }
            }
        }
        .box-detail {
            position: relative;
            padding: 20px;
            display: block;
            z-index: 99;
            .box-date {
                color: #ee727a;
                margin-bottom: 0.5rem;
            }
            p {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #555;
                font-size: 1.2rem;
                transition: color 0.25s;
                color: white;
                margin: 0;
            }
            .box-link {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 93px;
                .link {
                    width: 50%;
                    .style1 {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        border: 2px solid white;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                    .style1:before {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: -2px;
                        width: calc(100% + 4px);
                        height: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleY(1);
                    }
                    .style1:hover:before {
                        transform: scaleY(0);
                    }
                    .style1:after {
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: -2px;
                        height: calc(100% + 4px);
                        width: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleX(1);
                    }
                    .style1:hover:after {
                        transform: scaleX(0);
                    }
                    .style1 span {
                        position: relative;
                        z-index: 3;
                    }
                }
            }
            .badges {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;

                .badges--items {
                    background-color: #feca72;
                    width: 100%;
                    padding: 0.5rem;
                    margin: 0.5rem 0;
                    text-align: center;
                    display: inline-block;
                    font-size: 1.2rem;
                    border-radius: 0.3rem;
                    text-shadow: 3px 3px 2px black;
                    margin-bottom: 0.3rem;
                }
            }
        }
        .box-toggle {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: $cards;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 100;
            ion-icon {
                color: white;
                font-size: 1.4em;
                transition: transform ease-in-out 0.5s;
            }
        }
    }
}
