//? Timelines
//? *******************************************/


//* Timeline index
//********************************************/
.cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .timelines--title::first-letter {
        color: $green;
    }
    .box {
        margin: 20px 0;
        border-radius: 0.3rem;
        .box-card {
            position: relative;
            width: 350px;
            height: 200px;
            background-color: #3a3a3a;
            box-shadow: 0 50px 50px $cards;
            overflow: hidden;
            transition: height ease-in-out 0.5s;

            .box-content {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                .timeline__content--title {
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    font-size: 1.7rem;
                    color: #fff;
                    background-color: $cards;
                    padding: 10px;
                    text-shadow: 2px 2px 2px black;
                    letter-spacing: 1px;
                }
                .timeline__content--title::first-letter {
                    color: $green;
                }
                .box-image {
                    position: relative;
                    display: block;
                    width: 350px;
                    height: 200px;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        transition: all 1s ease-in-out;
                    }

                    .box-created {
                        position: absolute;
                        bottom: 0rem;
                        left: 0rem;
                        color: #feca72;
                        background-color: $bg-dark;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .box-card.active {
            height: auto;
            .box-toggle {
                ion-icon {
                    transform: rotate(180deg);
                }
            }
        }
        .box-detail {
            position: relative;
            padding: 20px;
            display: block;
            z-index: 99;
            .box-date {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin: 1rem 0 2rem;
                .date {
                    color: $red;
                    margin-left: 0.5rem;
                    span {
                        color: $blue;
                        margin-left: 0.2rem;
                    }
                }
                .date--end {
                    margin-left: 1rem;
                }
            }
            p {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #555;
                font-size: 1.2rem;
                transition: color 0.25s;
                color: white;
                margin: 0;
            }
            .box-link {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 93px;
                .link {
                    width: 50%;
                    .style1 {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        border: 2px solid white;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                    .style1:before {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: -2px;
                        width: calc(100% + 4px);
                        height: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleY(1);
                    }
                    .style1:hover:before {
                        transform: scaleY(0);
                    }
                    .style1:after {
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: -2px;
                        height: calc(100% + 4px);
                        width: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleX(1);
                    }
                    .style1:hover:after {
                        transform: scaleX(0);
                    }
                    .style1 span {
                        position: relative;
                        z-index: 3;
                    }
                }
            }
            .badges {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;

                .badges--items {
                    background-color: $purple;
                    width: 100%;
                    padding: 0.5rem;
                    margin: 0.5rem 0;
                    text-align: center;
                    display: inline-block;
                    font-size: 1.2rem;
                    border-radius: 0.3rem;
                    text-shadow: 3px 3px 2px black;
                    margin-bottom: 0.3rem;
                }
            }
        }
        .box-toggle {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: $cards;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 100;
            ion-icon {
                color: white;
                font-size: 1.4em;
                transition: transform ease-in-out 0.5s;
            }
        }
    }
}

//* Timeline Form
//********************************************/

.timeline__create {
    background-color: $bg-dark;
    padding: 0.5rem;
    margin-bottom: 1rem;
    .timeline__create--title {
        margin: 0.5rem 0 0;
        text-align: center;
    }
    .timeline__create--title::first-letter {
        color: $green;
        font-size: 3.25rem;
    }
    &__ariane {
        display: flex;
        li {
            background-color: $green;
            border-radius: 5px;
            span {
                padding: 0.75rem;
                color: $bg-light;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        label,
        p {
            font-size: 1.75rem;
            margin: 0;
        }
        label::first-letter,
        p::first-letter {
            color: $green;
            font-size: 2.25rem;
        }
        &__content {
            .timeline__create__form__content--item,
            .timeline__create__form__content--date {
                padding: 1rem 0;
                display: flex;
                flex-flow: column;
                .date__group {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    span {
                        color: $yellow;
                        font-size: 1.75rem;
                    }
                }
                .date__group--start {
                    padding-bottom: 2rem;
                }
                .date__group__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .date__group__check {
                        display: flex;
                        align-items: center;
                        label {
                            font-size: 1.3rem;
                            padding: 0;
                        }
                        label::first-letter {
                            color: $purple;
                        }
                        input[type="checkbox"] {
                            transform: scale(2.5);
                            margin: 0 2rem 0 1rem;
                        }
                    }
                }
            }
        }
        &__detail {
            &__thumbnail {
                margin: 1rem 0;
                .thumbnail__file {
                    label {
                        background-color: $blue;
                        color: #3a3a3a;
                        margin: 1rem 0;
                        padding: 0.5rem;
                        display: block;
                        border-radius: 5px;
                        border: 2px solid $bg-grey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            font-size: 1rem;
                            margin-right: 0.75rem;
                        }
                    }
                    span {
                        color: white;
                        margin-left: 0.5rem;
                    }
                }
                .thumbnail__preview {
                    display: block;
                    border: 2px solid white;
                    border-radius: 5px;
                    height: 170px;
                    width: 100%;
                    background-color: $bg-grey;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                        position: relative;
                    }
                    img[alt]:after {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $bg-grey;
                        text-align: center;
                        content: attr(alt);
                    }
                }
            }
            &__tags {
                margin: 2rem 0 1rem;
                .tags__group {
                    display: flex;
                    flex-flow: column wrap;
                    .tags__group--item {
                        display: flex;
                        align-items: center;
                        input {
                            transform: scale(2);
                            margin: 0 1rem 0 0.5rem;
                        }
                        label::first-letter {
                            color: #feca72;
                        }
                    }
                }
            }
        }
    }
    .submit--edit {
        background-color: $green;
    }
    button {
        margin: 1.5rem 0 3em;
        padding: 1.5rem;
        background-color: $red;
        border: 2px solid $bg-grey;
        color: $bg-grey;
    }
}
