@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


@import "normalize";
@import "pageable";
@import "color";
@import "layout";
@import "homepage";
@import "timelines";
@import "tags";
@import "admin";
@import "auth";
@import "slider";



//********** CSS GLOBALE
//********************************************/
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Bebas Neue", cursive;
    background-color: $bg-light;
    color: #fff;
    font-size: 1.4em;
    
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}


.containers {
    margin: 80px auto 0;
    padding: 0 0.5rem;

}

//********** ScrollBar
//********************************************/
// Scroll Bar
::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-track {
    background-color: $bg-grey;
}
::-webkit-scrollbar-thumb {
    background: $bg;
    border: 1px solid $purple;
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    /* Mettre ici les différentes règles concernées la tablette*/
}
@media screen and (min-width: 1200px) {
    /* Mettre ici les différentes règles concernées le desktop */
}
