@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$red: #ee727a;
$green: #c4e791;
$yellow: #feca72;
$blue: #84acfc;
$purple: #c694e8;
$light-blue: #8cddfd;
$bg: #3a3f54;
$bg-light: #434961;
$bg-dark: #2a2d3c;
$bg-grey: #343a40;

//********** CSS GLOBALE
//********************************************/
body {
    font-family: "Bebas Neue", cursive;
    background-color: $bg-light;
    color: #fff;
    font-size: 1.4em;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.container {
    margin: 0 auto;
    padding: 0 10rem;
}

// Scroll Bar
::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-track {
    background-color: $bg-grey;
}
::-webkit-scrollbar-thumb {
    background: $bg;
    border: 1px solid $purple;
}

//********** LAYOUT
//********************************************/
header {
    width: 100%;
    display: inline-block;
    nav {
        display: flex;
        justify-content: space-between;
        background-color: $bg-dark;
        padding: 0 10rem;
        img {
            width: 12rem;
        }
        ul {
            list-style: none;
            display: flex;
            flex: row;
            li {
                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    margin: 0 2rem;
                    color: #fff;
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                    transition: border-bottom 0.2s ease-in-out;
                }
                a:hover {
                    border-bottom: 2px solid rgba(255, 255, 255, 1);
                }
            }
            li:nth-child(1) {
                a:hover {
                    color: $red;
                }
            }
            li:nth-child(2) {
                a:hover {
                    color: $green;
                }
            }
            li:nth-child(3) {
                a:hover {
                    color: $yellow;
                }
            }
            li:nth-child(4) {
                a:hover {
                    color: $purple;
                }
            }
        }
    }
}

//********** HOMEPAGE INDEX
//********************************************/
#globe-animation {
    min-height: 90vh;
    z-index: -1;
    position: relative;
    p {
        width: 30rem;
        padding: 3rem;
        background-color: rgba(255, 255, 255, 0.192);
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.6rem;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}
.section {
    h1 {
        text-align: center;
        padding: 2rem;
        margin-top: 3rem;
    }
    section {
        min-height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        div {
            margin: 2rem;
            background-color: rgba(255, 255, 255, 0.192);
            padding: 2rem;
            height: fit-content;
            p {
                font-size: 2rem;
                display: contents;
            }
        }
    }
}

//********** TIMELINE INDEX
//********************************************/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
    .box {
        margin: 20px 0;
        border-radius: 0.3rem;
        .box-card {
            position: relative;
            width: 350px;
            height: 200px;
            background-color: rgb(58, 58, 58);
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            transition: height ease-in-out 0.5s;

            .box-content {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                .box-image {
                    position: relative;
                    display: block;
                    width: 350px;
                    height: 200px;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        transition: all 1s ease-in-out;
                    }
                    img:hover {
                        transform: scale(1.1);

                        overflow: hidden;
                    }
                    .box-created {
                        position: absolute;
                        bottom: 0.5rem;
                        left: 0.5rem;
                        color: #feca72;
                        background-color: #2a2d3c;
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
                h3 {
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    margin-left: 15px;
                    font-size: 1.3rem;
                    color: #fff;
                    background-color: rgb(58, 58, 58);
                    padding: 10px;
                    text-shadow: 2px 2px 2px black;
                    letter-spacing: 1px;
                }
            }
        }
        .box-card.active {
            height: 28rem;
            .box-toggle {
                ion-icon {
                    transform: rotate(180deg);
                }
            }
        }
        .box-detail {
            position: relative;
            padding: 20px;
            display: block;
            z-index: 99;
            .box-date {
                color: #ee727a;
                margin-bottom: 0.5rem;
            }
            p {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #555;
                font-size: 1.2rem;
                transition: color 0.25s;
                color: white;
                margin: 0;
            }
            .box-link {
                display: flex;
                justify-content: left;
                align-items: center;
                height: 93px;
                .link {
                    width: 50%;
                    .style1 {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        border: 2px solid white;
                        text-transform: uppercase;
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                    .style1:before {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: -2px;
                        width: calc(100% + 4px);
                        height: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleY(1);
                    }
                    .style1:hover:before {
                        transform: scaleY(0);
                    }
                    .style1:after {
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: -2px;
                        height: calc(100% + 4px);
                        width: calc(100% - 12px);
                        background: rgb(58, 58, 58);
                        transition: 0.5s ease-in-out;
                        transform: scaleX(1);
                    }
                    .style1:hover:after {
                        transform: scaleX(0);
                    }
                    .style1 span {
                        position: relative;
                        z-index: 3;
                    }
                }
                .badges {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;
                    .badges--items {
                        width: 70%;
                        text-align: center;
                        display: block;
                        font-size: 0.9rem;
                        padding: 0.3rem 0.5rem;
                        background-color: #feca72;
                        border-radius: 0.3rem;
                        text-shadow: 3px 3px 2px black;
                        margin-bottom: 0.3rem;
                    }
                }
            }
        }
        .box-toggle {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: rgb(58, 58, 58);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 100;
            ion-icon {
                color: white;
                font-size: 1.4em;
                transition: transform ease-in-out 0.5s;
            }
        }
    }
}

//********** TIMELINE SHOW
//********************************************/
.form {
    background-color: #ee727a;
    min-height: 50vh;
    width: 100%;
    .form__group--left {
        background-color: #feca72;
        float: left;
        width: 50%;
        .form__group__items {
            padding: 1rem 2rem;
            .form__group__items--input {
                width: 100%;
            }
        }
    }
    .form__group--right {
        background-color: #c694e8;
        float: right;
        width: 50%;
        height: auto;
        .form__group__items {
            padding: 1rem 2rem;
            .form__group__items--input {
                width: 100%;
            }
        }
    }
}

//********** TAGS INDEX
//********************************************/
.tagGroup {
    // display: flex;
    // justify-content: space-between;
    // flex-flow: row wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;

    .tagCard {
        .tagCard__content {
            position: relative;
            .tagCardtagCard__content--image {
                display: block;
                width: 400px;
                height: 170px;
                background-color: $bg-dark;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.3rem;
                img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    transition: all 0.5s ease-in-out;
                }
                img:hover {
                    transform: scale(1.2);
                }
            }
            .tagCard__content--title,
            .tagCard__content--link {
                background: rgb(58, 58, 58);
                padding: 1rem;
                text-align: center;
                border-radius: 0.2rem;
            }
            .tagCard__content--title {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                margin: 0;
            }
            .tagCard__content__link {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;

                .tagCard__content__link--btn {
                    position: relative;
                    display: inline-block;
                    padding: 15px 30px;
                    border: 2px solid white;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: 2px;
                    transition: all 0.3s ease-in-out;
                    background-color: rgba(52, 58, 64, 0.4);
                }
                .tagCard__content__link--btn:hover {
                    background-color: $bg-grey;
                    color: #ee727a;
                }
            }
        }
    }
}
//tagCard__content__link--btn
