@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


@import "normalize";
@import "pageable";
@import "color";
@import "layout";
@import "homepage";
@import "timelines";
@import "tags";
@import "events";
@import "admin";
@import "auth";
@import "slider";



//********** CSS GLOBALE
//********************************************/
* {
    //scroll-behavior: smooth;
}
body {
    font-family: "Bebas Neue", cursive;
    background-color: $bg-light;
    //background-image: linear-gradient(to bottom, #2a2d3c, #303445, #363b4e, #3d4257, #434961);
    color: #fff;
    font-size: 1.4em;
    
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.containers {
    margin: 80px auto 0;
    padding: 0 0.5rem;

}

//********** ScrollBar
//********************************************/
// Scroll Bar
::-webkit-scrollbar {
    width: 0.7rem;
}
::-webkit-scrollbar-track {
    background-color: $bg-grey;
}
::-webkit-scrollbar-thumb {
    background: $bg;
    border: 1px solid white;
}

@media screen and (max-width: 780px) {
    .containers {
        margin: 80px auto 0;
        padding: 0 0.5rem;
    
    }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    #containers {
        margin: 8rem auto 0;
        padding: 0 8rem;
    
    }
}

@media screen and (min-width: 1200px) {
    .containers {
        margin: 8rem auto 0;
        padding: 0 8rem;
    
    }
}
